@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
    background-color: #F9F7DC;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
}

header {
    background-color: #CD6300;
}

footer {
    background-color: #CD6300;
}

header ul {
    background-color: #FFCB65;
    padding-inline-start: 0px;
}

header ul li {
    list-style: none;
    width: 100%;
    text-align: center;
}

header ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    color: black;
}

header ul li a:hover {
    background-color: #cd63007c;
}

header ul li a:active {
    background-color: #cd63007c;
}



.persona div img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}