@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

body {
	font-size: .75em;
	font-family: 'Josefin Sans', sans-serif;
	color: black;
    background-color: #F9F7DC;
}

header {
    background-color: #CD6300;
    margin: 0 auto;
    padding: 20px;
}

#flex-div {
    display: flex;
}

#logo-pic {
    width: 50px;
}

#logo-pic img {
    width: 100%;
}

#social-media {
    grid-column: 3/4;
}

/* hamburger menu */

#navbar{
    background-color: var(--menu-bg-color);
    color: white;
    display: none;
    flex-direction: column;
    list-style: none;
    padding-inline-start: 0px;
    margin-block: 0px;
  
  }
  
  #navbar-active{
    background-color: var(--menu-highlight-color);
  }
  
  #menu-toggle{
    display: block;
    border: 2px solid black;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--menu-highlight-color);
  }
  
  #menu-open{
    display: block;
  }
  
  #menu-close{
    display: none;
  }
  
  #menu-open.open{
    display: none;
  }
  
  #menu-close.open{
    display: block;
  }
  
  #navbar.open{
    display: flex;
  }
  
  #navbar{
    display: none;
  }
  
  nav {
    background-color: var(--menu-bg-color);
    margin: 0 auto;
    
  }
  
  nav ul li {
    border: 1px solid black;
    width: 100%;
    color: white;
    text-align: center;
    
  }
  
  nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;    
    color: white;
    font-size: 1.25rem;
  }
  
  nav ul li a:hover{
    background-color: var(--menu-highlight-color);
    color: black;
  }
  

#date-box {
    grid-column: 1/6;
}

aside {
	margin: 0.5rem;
	border: 1px solid #bbb;
	padding: 0.75rem 1rem;
	background-color: #eee;
}