@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* style for every page */
  body {
    background-color: #F9F7DC;
    font-family: 'Josefin Sans', sans-serif;
    color: black;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
  }

  header, footer{
    background-color: #CD6300;
    padding: 20px;
  }

  header {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    color: #F9F7DC;
    font-size: 2em;
  }

  header ul {
    background-color: #FFCB65;
    padding-inline-start: 0px;
    font-size: 1.25em;
  }

  header ul li {
    list-style: none;
    width: 100%;
    text-align: center;
  }

  header ul li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
    color: black;
  }

  header ul li a:hover {
    background-color: #cd63007c;
  }

  nav ul li.active a {
    background-color: #dc882c;
  }

  header h1 {
    font-size: 1em;
  }

  footer {
    font-size: .5em;
  }

  .footer-line {
    border: 1px solid #F9F7DC;
    width: 70%;
  }

  #maps {
    color: black;
  }

  /* hamburger menu */
    #navbar{
      color: black;
      display: none;
      flex-direction: column;
      list-style: none;
      padding-inline-start: 0px;
      margin-block: 0px;
      width: 100%;    
      }
      
    #navbar-active{
      background-color: #cd63007c;
    }
      
    #menu-toggle{
      display: block;
      border: 2px solid black;
      font-size: 2rem;
      font-weight: bold;
      background-color: var(--menu-highlight-color);
    }
      
    #menu-open{
      display: block;
    }
      
    #menu-close{
      display: none;
    }
      
    #menu-open.open{
      display: none;
    }
      
    #menu-close.open{
      display: block;
    }
      
    #navbar.open{
      display: flex;
    }
      
    #navbar{
      display: none;
    }
      
    nav {
      background-color: #FBCB65;
      margin: 0 auto;    
    }
      
    nav ul li {
      border: 1px solid black;
      width: 100%;
      color: black;
      text-align: center;    
    }
      
    nav a {
      display: block;
      padding: 1rem;
      text-decoration: none;    
      color: black;
      font-size: 1.25rem;
    }
      
    nav ul li a:hover{
      background-color: #934A04;
      color: #f9e8c6;
    }

    #logo-img-1 img {
      width: 50px;
    }
  /* end of hamburger menu */
/* end of style for everything*/

/* style for the home page*/
#social-medias img {
  width: 35px;
  height: 35px;
}

  #big-h1 {
    display: none;
  }

  aside {
    margin: 0.5rem;
    padding: 0.75rem 1rem;
    background-color: #f9e8c6;
    font-size: 1.25em;
    font-weight: bold;
  }

  #date-box {
    background-color: #CD6300;
    padding: 5px;
  }

  .h2-div {
    color: #a15a17;
    font-weight: 800;
  }

  .box {
    border: 1px solid black;
    margin: 10px;
    min-height: 100px;
    background-color: #cd63006d;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
  }

  .inner-box {
    border: 1px solid black;
    margin: 10px;
    min-height: 100px;
  }

  #different-color {
    color: #848007;
  }

  #inner-weather {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #join {
    display: none;
  }

  #spot3 {
    display: none;
  }

  #hero-box {
    position: relative;
  }

  #hero-box img {
    width: 100%;
    height: 100%;
    display: block;
  }

  #hero-box h2 {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
  }

  #hero-box button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #348011;
    color: #F9F7DC;
    border: none;
    box-shadow: 10px 10px 20px 2px rgba(0,0,0,.8);
    padding: 10px 20px;
    border-radius: 5px;
  }