@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Wet+Paint&display=swap');

body{
    font-family: 'Rubik Wet Paint', cursive;
}

header{
    display: grid;
    background-color: #902717;
    color: black;
    border: 2px black solid;
}

header img{
    margin: 2rem;
    border: 2px black solid;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
    justify-content: center;
    align-content: center;
}

#picture {
    text-align: center;
}

header h1{
    text-align: center;
    font-size: 1.5rem;
}

header div:nth-child(2){
    width: 100%;
}

#content{
    margin: 0 auto;
    max-width: 640px;
    background-color: #807172;
    border-radius: 2rem;
}

main h2{
    text-align: center;
    font-size: 1rem;
}

ul li{
    padding: .5rem;
    background-color: #902717;
    border: 2px black solid;
    border-radius: 2rem;
    box-shadow: 10px 10px 5px rgb(0, 0, 0);
}

a:hover{
    color: rgb(203, 153, 61);
}

a:visited {
    color: rgb(55, 52, 50);
}

a{
    color: rgb(0, 0, 0);
}

p{
    margin: 1rem;
}

footer{
    align-items: center;
    background-color: #902717;
    color: black;
    border: 2px black solid;
    text-align: center;
    padding: 1rem;
}